/*
Hier werden diverse Einstellungen zu Basiselementen vorgenommen.
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

body {
    position: relative;
    top: auto;
    margin-top: 180px;
    background-color: rgba(10, 10, 10, 0, 5);
}

h1 {
    background-color: rgb(106, 145, 112);
    color: black;
    font-size: 30px;
    text-align: center;
}

figcaption {
    text-align: center;
}

p.Fließtext {
    color: black;
    font-size: 22px;
}

p.Antwort {
    color: black;
    font-size: 22px;
    text-indent: 10px;
    margin-top: 0;
    margin-bottom: 2em;
}

p.Frage {
    color: black;
    font-size: 22px;
    margin: 0;

}

p.Kontaktdaten {
    color: black;
    font-size: 18px;
    white-space: pre-line;
}


footer {

    margin-top: 1em;
    text-align: center;
    word-spacing: 20px;
}



input:inital {
    background-color: ivory;
    border: none;
    /*outline: 2px solid red;
    border-radius: 5px;*/
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}


img {
    width: 100%;
    height: auto;
}

img.header {
    width: 100%;
    height: auto;
}

div.numbertext {
    color: black;
}

* {
    font-family: times;
    color: black;
}


/* Hier wird das Format des Buttons bestimmt, der beim Scrollen zurück nach oben springt lässt*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: grey;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


* {
    box-sizing: border-box
}




/* Hier findet sich die Formatierung für die Slideshow auf der Seite Fotos */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#map {
    height: 180px;
}