<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mietgaragen Emsland</title>

        <link rel="stylesheet" href="/css/Styles.css">
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="crossorigin=""
            />

        <script src="/Skripte/TopButton.js"></script>
        <script src="/Skripte/GetContactData.js"></script>

        <Cache-Control: max-age=0></Cache-Control:>
    </head>

    <body>
        <section class="header">
            <header>
                <figure>
                    <img src="/img/Bild_7.jpg"
                        alt="Pictures of Mietgaragen">
                    <figcaption>100€ Netto im Monat pro Einheit inkl. XX KW
                        Strom
                        &diams; ca 15qm pro Garage &diams; 24 Stunden zugänglich
                        und
                        viedeoüberwacht &diams; Lagerflächen flexibel nach
                        Bedarf
                        erweiterbar </figcaption>
                </figure>
                <nav class="topnav">
                    <a href="/index">Startseite</a>
                    <a href="/FAQ">FAQ</a>
                    <a href="/Fotos">Fotos</a>
                    <a href="/Kontaktformular">Kontaktformular</a>
                    <a href="/Impressum">Impressum</a>
                    <a href="/Datenschutz">Datenschutz</a>
                </nav>
            </header>
        </section>

        <Section class="body">
            <!-- Die verschiedenen Textparagraphen auf der Website -->

            <h1>Kontaktanfragen</h1>
            <p>Hier findet man eine Tabelle der Kontaktanfragen:
            </p>

            <table>
                <thead>
                    <tr>
                        <th colspan="6">Kontaktdaten</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr>
                        <td>Vorname</td>
                        <td>Nachname</td>
                        <td>Mailadresse</td>
                        <td>Telefonnummer</td>
                        <td>Beginn</td>
                        <td>Nachricht</td>
                    </tr>
                </tbody>
            </table>
        </Section>
    </body>


    <section class="footer">
        <figure>
            <img src="/img/Bild_10.jpg"
                alt="/img/Bild_7.jpg"
                class="header">
            <!--             <figcaption></figcaption> -->
        </figure>
    </section>

    <button id="myBtn" title="Go to top">Top &#8593
    </button>
</html>
