<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mietgaragenverwaltung Baalmann</title>
        <link rel="stylesheet" href="/css/Styles.css">
        <script src="TopButton.js"></script>
        <Cache-Control: max-age=0></Cache-Control:>
    </head>

    <body>
        <header>
            <figure>
                <img src="/img/Bild_7.jpg"
                    alt="/img/Bild_8.jpg">
                <!--             <figcaption></figcaption> -->
            </figure>
            <div class="topnav">
                <a href="/index.html">Startseite</a>
                <a href="/FAQ.html">FAQ</a>
                <a href="/Fotos.html">Fotos</a>
                <a href="/Kontaktformular.html">Kontaktformular</a>
                <a href="/Impressum.html">Impressum</a>
                <a href="/Datenschutz.html">Datenschutz</a>
            </div>
        </header>
        <!-- Die verschiedenen Textparagraphen auf der Website -->

        <h1>Unsere Datenschutzerklärung</h1>
        <p1>Ea incididunt mollit culpa est laboris dolore deserunt amet Lorem
            voluptate sunt.
        </p1>
        <h2>Abschnittstitel</h2>
        <p1>Eu sint dolore velit cillum elit excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim.
        </p1>
        <h2>Abschnittstitel</h2>
        <p1>Eu sint dolore velit cillum elit excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim.
        </p1>
        <h2>Abschnittstitel</h2>
        <p1>Eu sint dolore velit cillum elit excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim.
        </p1>
        <h2>Abschnittstitel</h2>
        <p1>Eu sint dolore velit cillum elit excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim.
        </p1>
        <h2>Abschnittstitel</h2>
        <p1>Eu sint dolore velit cillum elit excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim. Eu sint dolore velit cillum elit
            excepteur ad qui pariatur ut magna
            magna do laborum. Eiusmod velit veniam voluptate enim esse dolore
            non proident reprehenderit. Culpa ea amet ad duis enim. Dolore elit
            dolore consequat enim enim.
        </p1>
    </body>


    <!-- Linkliste unten auf der Seite -->
    <footer>
        <a class="footer" href="/index.html">Startseite</a>
        <a class="footer" href="/FAQ.html">FAQ</a>
        <a class="footer" href="/Fotos.html">Fotos</a>
        <a class="footer" href="/Kontaktformular.html">Kontaktformular</a>
        <a class="footer" href="/Impressum.html">Impressum</a>
        <a class="footer" href="/Datenschutz.html">Datenschutz</a>
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</html>