<!DOCTYPE html>

<!-- Hier ist ein Kommentar -->

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mietgaragenverwaltung Baalmann</title>
        <link rel="stylesheet" href="/css/Styles.css">
        <Cache-Control: max-age=0></Cache-Control:>
        <script src="/Skripte/TopButton.js"></script>
    </head>

    <body>
        <header>
            <figure>
                <img src="/img/Bild_7.jpg"
                    alt="Pictures of Mietgaragen">
                <figcaption>100€ Netto im Monat pro Einheit inkl. XX KW Strom
                    &diams; ca 15qm pro Garage &diams; 24 Stunden zugänglich und
                    viedeoüberwacht &diams; Lagerflächen flexibel nach Bedarf
                    erweiterbar </figcaption>
            </figure>
            <nav class="topnav">
                <a href="/index">Startseite</a>
                <a href="/FAQ">FAQ</a>
                <a href="/Fotos">Fotos</a>
                <a href="/Kontaktformular">Kontaktformular</a>
                <a href="/Impressum">Impressum</a>
                <a href="/Datenschutz">Datenschutz</a>
            </nav>
        </header>
        <!-- Die verschiedenen Textparagraphen auf der Website -->

        <h1>Frequent asked Questions</h1>

        <details>
            <summary>Gibt es einen Wasseranschluss?</summary>
            <p>Nein es gibt keinen Wasseranschluss. </p>
        </details>

        <details>
            <summary>Haben die Garagen einen Stromanschluss?</summary>
            <p>Ja die Garagen haben einenStromanschluss. </p>
        </details>


        <details>
            <summary>Wie wird der Strom abgerechnet?</summary>
            <p>Der Strom wird über eigenen Zähler abgerechnet.</p>
        </details>

        <details>
            <summary>Haben die Garagen einen
                Stromanschluss?</summary>
            <p>Ja die Garagen haben einen Stromanschluss.</p>
        </details>

        <details>
            <summary>Gibt es eine Mindestmietdauer?</summary>
            <p>Ja die Mindestmietdauer beträgt 3 Monate.</p>
        </details>

        <details>
            <summary>Wie erfolgt die Mietzahlung?</summary>
            <p>Über ein SEPA Mandat.</p>
        </details>

        <details>
            <summary>Wie hoch sind die Kosten für die Miete?</summary>
            <p>Die Kosten betragen XXX€.</p>
        </details>

        <details>
            <summary>Wie hoch ist die Kaution?</summary>
            <p>Die Kaution beträgt zwei Monatsmieten.</p>
        </details>

        <details>
            <summary>Ab wann können die Garagen
                gemietet werden?</summary>
            <p>Die Garagen können ab DD.MM.YYYY gemietet werden. Anfragen
                können sie auch gerne jetzt schon erstellen über das
                <a href="/Kontaktformular">Kontaktformular</a>.</p>
        </details>

        <details>
            <summary>Wie kann ich eine Garage mieten?</summary>
            <p>Gerne nehmen Sie über das
                <a href="/Kontaktformular">Kontaktformular</a>
                mit uns Kontakt auf.</p>
        </details>

        <details>
            <summary>Gibt es eine Warteliste?</summary>
            <p>Derzeit ist die Anzahl der nichtbesetzten Garagen XXX.</p>
        </details>


    </body>

    <section class="footer">
        <figure>
            <img src="/img/Bild_10.jpg"
                alt="/img/Bild_7.jpg"
                class="header">
            <!--             <figcaption></figcaption> -->
        </figure>
    </section>

    <button id="myBtn" title="Go to top">Top &#8593
    </button>

</html>
