<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mietgaragenverwaltung Baalmann</title>
        <link rel="stylesheet" href="/css/Styles.css">
        <script src="/Skripte/Slideshow.js"></script>
        <Cache-Control: max-age=0></Cache-Control:>
    </head>

    <body>
        <header>
            <figure>
                <img src="/img/Bild_7.jpg"
                    alt="Pictures of Mietgaragen">
                <figcaption>100€ Netto im Monat pro Einheit inkl. XX KW Strom</figcaption>
            </figure>
            <div class="topnav">
                <a href="/index">Startseite</a>
                <a href="/FAQ">FAQ</a>
                <a href="/Fotos">Fotos</a>
                <a href="/Kontaktformular">Kontaktformular</a>
                <a href="/Impressum">Impressum</a>
                <a href="/">Datenschutz</a>
            </div>
        </header>

        <h1>Fotos der Mietgaragen</h1>

        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 5</div>
                <img src="/img/Bild_8.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 5</div>
                <img src="/img/Bild_8.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 5</div>
                <img src="/img/Bild_9.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 5</div>
                <img src="/img/Bild_9.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">5 / 5</div>
                <img src="/img/Bild_9.jpg" style="width:100%">

            </div>

            <!-- Next and previous buttons -->
            <a class="footer" class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="footer" class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>


        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>

    </body>

    <section class="footer">
        <figure>
            <img src="/img/Bild_10.jpg"
                alt="/img/Bild_7.jpg"
                class="header">
            <!--             <figcaption></figcaption> -->
        </figure>
        <footer>
            <!-- Linkliste unten auf der Seite -->
            <a class="footer" href="/index">Startseite</a>
            <a class="footer" href="/FAQ">FAQ</a>
            <a class="footer" href="/Fotos">Fotos</a>
            <a class="footer" href="/Kontaktformular">Kontaktformular</a>
            <a class="footer" href="/Impressum">Impressum</a>
            <a class="footer" href="/Datenschutz">Datenschutz</a>
        </footer>
    </section>




</html>