<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mietgaragenverwaltung Baalmann</title>
        <link rel="stylesheet" href="/css/Styles.css">
        <Cache-Control: max-age=0></Cache-Control:>
    </head>

    <body>
        <header>
            <figure>
                <img src="/img/Bild_7.jpg"
                    alt="Pictures of Mietgaragen">
                <figcaption>100€ Netto im Monat pro Einheit inkl. XX KW Strom</figcaption>
            </figure>
            <nav class="topnav">
                <a href="/index">Startseite</a>
                <a href="/FAQ">FAQ</a>
                <a href="/Fotos">Fotos</a>
                <a href="/Kontaktformular">Kontaktformular</a>
                <a href="/Impressum">Impressum</a>
                <a href="/Datenschutz">Datenschutz</a>
            </nav>
        </header>

        <h1>Impressum</h1>

        <address>
            <p class="Kontaktdaten">Kontaktdaten
                Brigitte Baalmann
                Telefonnummer: <a href" tel:059541708">05954 1708</a>
                Feldkamp 14
                26897 Esterwegen</p>
        </address>

    </body>


    <section class="footer">
        <figure>
            <img src="/img/Bild_10.jpg"
                alt="/img/Bild_7.jpg"
                class="header">
            <!--             <figcaption></figcaption> -->
        </figure>
        <footer>
            <!-- Linkliste unten auf der Seite -->
            <a class="footer" href="/index">Startseite</a>
            <a class="footer" href="/FAQ">FAQ</a>
            <a class="footer" href="/Fotos">Fotos</a>
            <a class="footer" href="/Kontaktformular">Kontaktformular</a>
            <a class="footer" href="/Impressum">Impressum</a>
            <a class="footer" href="/Datenschutz">Datenschutz</a>
        </footer>
    </section>
</html>
