<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mietgaragen Emsland</title>

        <link rel="stylesheet" href="/css/Styles.css">
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
            integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="crossorigin=""
            />

        <script src="/Skripte/TopButton.js"></script>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="crossorigin=""></script>
        <!-- Muss nach dem fremden Map Skript geladen werden -->
        <script src="/Skripte/Map.js"></script>

        <Cache-Control: max-age=0></Cache-Control:>
    </head>

    <body>
        <section class="header">
            <header>
                <figure>
                    <img src="/img/Bild_7.jpg"
                        alt="/img/Bild_8.jpg"
                        class="header">
                    <!--             <figcaption></figcaption> -->
                </figure>
                <nav class="topnav">
                    <a href="/index">Startseite</a>
                    <a href="/FAQ">FAQ</a>
                    <a href="/Fotos">Fotos</a>
                    <a href="/Kontaktformular">Kontaktformular</a>
                    <a href="/Impressum">Impressum</a>
                </nav>
            </header>
        </section>

        <Section class="body">
            <!-- Die verschiedenen Textparagraphen auf der Website -->

            <h1>Willkommen auf der Website der Mietgaragenverwaltung Baalmann</h1>
            <p>Wir vermieten 24 neue Garagen/Lagerflächen und haben momentan
                noch XX Garagen
                frei.
            </p>

            <p>Eiusmod Lorem sint deserunt quis aute magna magna aute do sint
                consectetur consectetur cupidatat. Ad id labore dolore est
                occaecat
                officia eiusmod amet officia do. Velit in cillum do cillum
                occaecat
                ipsum ea consequat eu reprehenderit. Laboris excepteur cupidatat
                cupidatat ullamco. Sit est nulla qui pariatur consectetur
                cupidatat
                exercitation id dolore magna occaecat. Amet occaecat aliquip
                elit
                est ad ut laborum qui sunt. Pariatur ut qui laboris aliqua
                tempor
                qui Lorem magna ex. Ullamco mollit consectetur anim dolore ipsum
                mollit cillum reprehenderit minim dolore do eu et. Ipsum ipsum
                nostrud in nulla amet commodo culpa sit nostrud ipsum. Sit
                cillum
                ipsum magna consectetur minim ex deserunt. Mollit commodo irure
                sit
                nostrud esse. Laboris et deserunt ut anim incididunt amet.
            </p>
            <p>
                Velit aliquip nulla ut deserunt dolore fugiat. Cupidatat quis
                minim
                deserunt sint in eiusmod ullamco. Pariatur Lorem tempor laborum
                minim eu anim officia eiusmod adipisicing sint do consequat
                nulla
                eu. In laborum deserunt labore ipsum cillum. Velit veniam enim
                do ad
                quis. Incididunt amet irure consequat excepteur fugiat labore
                elit
                tempor mollit ut laboris cupidatat deserunt cillum. Id pariatur
                occaecat ullamco tempor aliquip.
            </p>
            <p>
                Anim eu eu ad enim sint enim. Proident irure voluptate velit
                proident culpa duis ipsum officia aliquip aliqua ex eiusmod.
                Cupidatat fugiat enim est sint esse. Esse do consectetur fugiat
                amet
                excepteur sit excepteur do quis sunt sit consequat eu minim.
                Minim
                exercitation incididunt proident sint. Do consequat culpa duis
                nisi.
                Minim pariatur anim cupidatat elit.
            </p>
            <p>
                Consequat nulla veniam labore labore aliquip. Pariatur proident
                sit
                in commodo ad nulla et. Aliquip do esse laborum aliqua nisi
                mollit
                consequat laborum do. Consectetur tempor irure esse sint
                adipisicing
                labore anim aliquip qui magna mollit. Veniam proident cupidatat
                cillum sint proident. Cupidatat minim eu dolor adipisicing sint.
                Dolore irure adipisicing magna dolore culpa duis cillum magna
                reprehenderit enim labore.
            </p>
            <p>
                Velit eiusmod sunt eiusmod ut labore duis cupidatat labore ea
                officia mollit. Id ut ea do culpa officia irure tempor. Anim
                occaecat non laboris magna pariatur magna. Aliqua laborum
                voluptate
                aliquip labore. Dolore quis cillum quis velit sit proident
                exercitation quis deserunt velit nisi. Esse commodo incididunt
                in in
                commodo duis commodo nostrud ipsum qui quis. Velit dolor
                incididunt
                minim occaecat quis exercitation cillum magna non magna enim.
            </p>
            <p>
                Do nostrud excepteur sunt ad velit elit irure ut ullamco ex
                dolor
                consequat. Velit ipsum occaecat Lorem amet. Elit irure voluptate
                consequat dolore est sint adipisicing adipisicing.</p>
            <p>
                Proident do nulla in velit deserunt ipsum sit et quis pariatur
                et
                dolor ut. Aliquip mollit sit ipsum tempor eu. Velit elit velit
                eiusmod cillum consequat Lorem enim officia.</p>
            <p>
                Ad fugiat sint voluptate mollit minim irure fugiat ut deserunt
                non
                ad laboris sunt. Aute magna eiusmod ea anim velit elit occaecat
                non.
                Mollit ex amet culpa in mollit occaecat ex aliqua.
            </p>
            <p>
                Ea duis velit sit commodo ad proident cupidatat cillum irure ut
                duis
                eu minim. Ad pariatur velit non consequat. Aliqua reprehenderit
                sit
                Lorem et velit quis laborum mollit nulla elit consectetur.
            </p>
            <p>
                Duis pariatur sint ipsum mollit duis culpa nulla consectetur
                consectetur. Dolore qui mollit incididunt sint anim duis nostrud
                qui
                amet veniam. Cupidatat ullamco et excepteur mollit amet nulla
                magna.
                Ipsum magna amet officia et cillum voluptate eu culpa proident.
                Reprehenderit minim id non in do irure cillum tempor eiusmod ex
                exercitation. Reprehenderit velit magna elit sint ad aliqua
                proident
                nostrud mollit cupidatat velit. Voluptate quis adipisicing do
                nisi
                laborum nisi quis sint eu proident.
            </p>

            <address>
                <p class="Kontaktdaten">
                    Adresse:
                    Emsland Mietgaragen
                    Südstraße 19a
                    26897 Esterwegen
                </p>
            </address>

        </Section>

        <section class="map">
            <div id="map"></div>
        </section>



    </body>


    <section class="footer">
        <figure>
            <img src="/img/Bild_10.jpg"
                alt="/img/Bild_7.jpg"
                class="header">
            <!--             <figcaption></figcaption> -->
        </figure>
        <footer>
            <!-- Linkliste unten auf der Seite -->
            <nav class="bottomnav">
                <a href="/index">Startseite</a>
                <a href="/FAQ">FAQ</a>
                <a href="/Fotos">Fotos</a>
                <a href="/Kontaktformular">Kontaktformular</a>
                <a href="/Impressum">Impressum</a>
                <a href="/Datenschutz">Datenschutz</a>
            </nav>
        </footer>
    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top &#8593
    </button>
</html>
