/*
Hier werden diverse Einstellungen zu Basiselementen vorgenommen.
*/

html {
    font-size: 100%;
    width: 100%;
    padding: 1rem
}


body {
    position: relative;
    top: fixed;
    background-color: rgba(10, 10, 10, 0, 5);
}

section {
    width: 100%;
}

section.body {
    margin-inline: auto;
}

h1 {
    background-color: rgb(106, 145, 112);
    font-size: calc(1.3rem + 3.6vw);
    text-align: center;
    padding: 8px 16px;
}

figcaption {
    text-align: center;
}

p {
    font-size: calc(0.9rem + 1.7vw);
}

p.Fließtext {
    font-size: calc(0.9rem + 1.7vw);
}

p.Antwort {
    text-indent: 10px;
    margin-top: 0;
    margin-bottom: 2em;
}

p.Frage {
    font-size: calc(0.8rem + 1.7vw);
    margin: 0;

}

p.Kontaktdaten {
    font-size: calc(0.9rem + 1.7vw);
    white-space: pre-line;
}


footer {
    color: white;
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
    word-spacing: 20px;
    background-color: #333;
}

a.footer {
    color: white;
    height: 2rem;
    margin-top: 2rem;

}



input {
    background-color: ivory;
    border: none;
    /*outline: 2px solid red;
    border-radius: 5px;*/
}

input:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid green;
    border-radius: 5px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}


img {
    width: 100%;
    height: auto;
}

img.header {
    width: 100%;
    height: auto;
}


div.numbertext {

    text-align: center;
}

* {
    font-family: Arial, sans-serif;

}


/* Hier wird das Format des Buttons bestimmt, der beim Scrollen zurück nach oben springt lässt*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: grey;
    /* Set a background color */

    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: calc(0.9rem + 1.7vw);

    /* Increase font size */
    z-index: 1000
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 3rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    min-width: 16.666%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(0.9rem + 1.7vw);
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;

}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}





/* Hier findet sich die Formatierung für die Slideshow auf der Seite Fotos */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: calc(0.9rem + 1.7vw);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: calc(0.9rem + 1.7vw);
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/n etc)  */
.numbertext {
    color: #f2f2f2;
    font-size: calc(0.9rem + 1.7vw);
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#map {
    position: relative;
    height: 180px;
    z-index: 1,

}

#err {
    display: none;
    background: #f54242;
    border: 1px solid #bd1717;
    padding: 5px;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}

#success {
    display: none;
    background: #42f563;
    border: 1px solid #026c17;
    padding: 5px;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}


/* Add a black background color to the bottom navigation */
.bottomnav {
    background-color: #333;
    overflow: hidden;
    height: 3vw;

}

/* Style the links inside the bottom navigation bar */
.bottomnav a {
    float: none;
    min-width: 16.666%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    background-color: #ddd;

}

/* Add a color to the active/current link */
.bottomnav a.active {
    background-color: #04AA6D;
    color: white;

}