/*
Hier werden diverse Einstellungen zu Basiselementen vorgenommen.
*/

html {
    font-size: 100%;
}

body {
    position: relative;
    top: fixed;
    background-color: rgba(10, 10, 10, 0, 5);
}


section.body {
    margin-inline: auto;
}

.footer {
    margin-top: 1em;
}

h1 {
    background-color: rgb(106, 145, 112);
    text-align: center;
    padding: 8px 16px;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 1em;
}

figcaption {
    text-align: center;
}



/* 
    Formatierung des Kontaktformulars
*/

input {
    background-color: ivory;
    border: none;
    /*outline: 2px solid red;
    border-radius: 5px;*/
}

input:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid green;
    border-radius: 5px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

address {
    line-break: break-all;
}


img {
    width: 100%;
    height: auto;
}

img.header {
    width: 100%;
    height: auto;
}


div.numbertext {

    text-align: center;
}

* {
    font-family: Arial, sans-serif;

}


/* Hier wird das Format des Buttons bestimmt, der beim Scrollen zurück nach oben springt lässt*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: grey;
    /* Set a background color */

    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 1em;

    /* Increase font size */
    z-index: 1000
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    min-width: 14%;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1em;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;

}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}





/* Hier findet sich die Formatierung für die Slideshow auf der Seite Fotos */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 1px solid black;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: gray;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/n etc)  */
.numbertext {
    color: #333;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#map {
    position: relative;
    height: 20em;
    z-index: 1,

}

#err {
    display: none;
    background: #f54242;
    border: 1px solid #bd1717;
    padding: 5px;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}

#success {
    display: none;
    background: #42f563;
    border: 1px solid #026c17;
    padding: 5px;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}



table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}











details {
    width: 75%;
    min-height: 5px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
}

details+details {
    margin-top: 20px;
}

details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}

details p {
    color: #96999d;
    font-weight: 300;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

summary:focus {
    outline: none;

}

summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px rgb(125, 125, 125);
}

summary::-webkit-details-marker {
    display: none
}

.control-icon {
    fill: rgb(125, 125, 125);
    transition: .3s ease;
    pointer-events: none;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
}

details[open] .control-icon-expand {
    display: none;
}